{% extends "base.html" %}

{% block title %}
Messages info
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Messages info</h1>

    {% for message in messages %}
    <div class="alert alert-info">
        <p>message uuid: {{message.message_uuid}}</p>
        <p>number: {{message.number}}</p>
        <p>text_message: {{message.text_message}}</p>
        <p>is_sent: {{message.is_sent}}</p>
        <p>is_delivered: {{message.is_delivered}}</p>
        <p>date: {{message.date.date()}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}