{% extends "base.html" %}

{% block title %}
Messages info
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Messages info</h1>

    {% for message in messages %}
    <div class="alert alert-info">
        <p>message uuid: {{message.message_uuid}}</p>
        <p>created_by: {{message.created_by}}</p>
        <p>created_at: {{message.created_at}}</p>
        <p>text_message: {{message.text_message}}</p>
        <p>number: {{message.number}}</p>
        <p>provider: {{message.provider}}</p>
        <p>sent_at: {{message.sent_at}}</p>
        <p>delivered_at: {{message.delivered_at}}</p>
        <p>status: {{message.status}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}